@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: #005551;
    margin: 40px;
    display: flex;
    justify-content: center;
    color: white;
}

