@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("media/network1.png");
    background-color: #005551;
    margin: 20px;
    display: flex;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.body1 {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 4fr 2fr 1fr; 
    gap: 15px 0px; 
    grid-template-areas: 
      "upper1"
      "continue1"
      "foot"; 
    justify-content: center; 
    justify-items: center; 
    width: 90%; 
    height: 90%;
    /* create background with graphical network from RTU handbook and add it to pages */
}




.upper1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: upper1;
    width: 90%;
    height: 500px;
    background: #005551 url("https://images.unsplash.com/photo-1609517760017-9b76ac28f0e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1944&q=80") 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    font-size: 20pt;
    position:relative;
    padding: 4px;
}

.upper1 h1 {
    display: table;
    margin: 10px auto 10px auto;
    /* why is the thing upside happening */
    padding: 2px;
    font-size: 40pt;
    background-color: #005551;
    color: white;
    border-radius: 5px;
    
}

.description1 {
    display: table;
    margin: 10px auto 10px auto;
    background-color: #005551;
    color: white;
    border-radius: 5px;
}


.continue1 {
    background-color: #005551;
    font-size: 35pt;
    color: white;
    grid-area: continue1;
    width: 50%;
    text-align: center;
    border: 5px double #5A9495;
    border-radius: 40px;
    padding: 8px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continue1 a {
    color: #a5c3c4;
}
.continue1 a:hover {
    color: white;
    /* font-family: 'UnifrakturMaguntia', cursive;
    font-size: 1,5em;
    transition: 1s; */
}

footer {
    grid-area: foot;
    text-align: center;
    color: white;
    padding: 5px;
}

.picReference {
    color: white;
    background-color: #5A9495;
    border-radius: 4px;
    font-size: 10pt;
    text-align: right;
    font-style: italic;
    position:absolute;
    bottom:0;
    right:0;
    /* create a hover symbol and display reference upon hovering */
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 0.3fr 0.2fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: space-around;    
    justify-items: center;
    grid-template-areas:
      ". head head head ."
      "background1 background1 picture1 picture1 picture1"
      ". decisions decisions decisions ."
      ". foot foot foot .";
    width: 90%;
    height: 90%;
    color: white;
  }
  
.head {
    grid-area: head;
    background-color: #005551;
    font-size: 15pt;
    border: 3px solid white;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    height: 40px;
}
.head a {
    color: white;
    padding: 15px;
}
.head a:hover {
    color: #5A9495;
}


.background1 {
    background-color: white;
    color: #005551;
    font-size: 15pt;
    font-weight: bold;
    grid-area: background1;
    align-self: stretch;
    border: 3px solid white;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.background1 button {
    background-color: #5a9495;
    border: white;
    border-radius: 3px;
    font-size: 20pt;
    padding: 5px;
    color: white;
    margin: auto;
}

.background1 button:hover {
    color:#5a9495;
    background-color: white;
}

.background1 h2 {
    padding: 10px;
    text-align: center;
    font-size: 25pt;
}

.background1 p {
    padding: 10px;
}

.picture1 {
    grid-area: picture1;
    position: relative;
}

img {
    max-width:100%;
    max-height:100%;
    border: 2px solid white;
    border-radius: 5px;
}
  
.decisions {
    background-color: #005551;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    justify-items: stretch;
    justify-content: space-around;
    grid-template-areas:
      "decide decide decide decide"
      "dec1 dec1 dec2 dec2";
    grid-area: decisions;

}

  
.decide {
    grid-area: decide;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
}
.dec1 {
    background-color: white;
    grid-area: dec1;
    text-align: center;
    place-self: center stretch;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
}

.dec1 a {
    color: #005551;
    font-size: 16pt;
    font-weight: bold;
}
  
.dec2 {
    background-color: white;
    grid-area: dec2;
    text-align: center;
    place-self: center stretch;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
}

.dec2 a {
    color: #005551;
    font-size: 16pt;
    font-weight: bold;
}

.decisions1 {
    background-color: #005551;
    border-radius: 3px;
    display: grid;
    gap: 0px 20px;
    flex-direction: column;
    grid-area: decisions;
    grid-template-areas:
    "decide decide decide decide"
    "dec3 dec3 dec3 dec3";
    text-align: center;
}
.dec3 {
    grid-area: dec3;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    width: 60%;
}
.dec3 a {
    color: #005551;
    font-size: 16pt;
    font-weight: bold;
}


.foot {
    grid-area: foot;
    text-align: center;
}

.foot a {
    color: white;
}
  
a {
    color: white;
}
#pic1 {
    display: block;
}

#lookatpic1 {
    display: none;
}

#mapdiv {
    display: none;
}

#blackheadstext {
    display: none;
}

#pic2 {
    display: none;
    max-height: 700px;
}

#decisions1 {
    display: none;
}

#map1 {
    display: none;
}


#strong {
    font-size: 16pt;
}

#thank { 
    background-color: #005551;
    padding: 3pt;
    font-size: 25pt;
}